# dependencies
node_modules

# env
.env
.env.local
.env.production

# next.js
.next/
out/

# database
*.db
*.db-journal
prisma/*.db

# debug
npm-debug.log*

# misc
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
